.x-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.x-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.x-followCard-header-info {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    margin-left: 10px;
}

.x-followCard-header-info-username {
    opacity: .6;
}

.x-followCard-header-pfp {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.x-followCard-aside-follow {
    font-weight: bold;
    border-radius: 999px;
    border: 0;
    padding: 6px 16px;
    cursor: pointer;
}

.x-followCard-aside-follow:hover {
    opacity: .9;
    transition: .1s ease background-color;
}

.x-followCard-aside-follow.is-following {
    border: 1px solid #888;
    background: transparent;
    color: #fff;
    width: 130px;
}

.x-followCard-aside-followText {
    display: block;
}

.x-followCard-aside-unfollow {
    display: none;
}

.is-following:hover {
    background: rgba(244, 33, 46, 0.1);
    border: 1px solid rgba(244, 33, 46);
    color:  rgba(244, 33, 46);
}

.x-followCard-aside-follow.is-following:hover .x-followCard-aside-followText {
    display: none;
}

.is-following:hover .x-followCard-aside-unfollow {
    display: block;
}

